@use "variables";

 // 边框圆角
.br {
    border-radius: variables.$unit;
}

.br-top {
    border-radius: variables.$unit variables.$unit 0 0;
}

.br-right {
    border-radius: 0 variables.$unit variables.$unit 0;
}

.br-bottom {
    border-radius: 0 0 variables.$unit variables.$unit;
}

.br-left {
    border-radius: variables.$unit 0 0 variables.$unit;
}

.br-bottom-5 {
    border-radius: 0 0 50% 50%;
}

.br-top-5 {
    border-radius: 50% 50% 0 0;
}

// 边框
.border {
    border: 1px solid variables.$bright;
}

.border-top {
    border-top: 1px solid variables.$bright;
}

.border-right {
    border-right: 1px solid variables.$bright;
}

.border-bottom {
    border-bottom: 1px solid variables.$bright;
}
.border-left {
    border-left: 1px solid variables.$bright;
}