/*
 * @Author: 故乡情 s@epnz.com
 * @Date: 2025-03-03 22:36:05
 * @LastEditTime: 2025-10-16 13:15:31
 * @LastEditors: 故乡情 s@epnz.com
 * @Description: Block UI
 * @FilePath: \ui\src\scss\_button.scss
 */

// 按钮样式
$buttons: (
    "default": $default,
    "success": $green,
    "warning": $yellow,
    "info": $blue,
    "danger": $danger,
    "dark": $dark,
    "gray": $gray,
    "bright": $bright,
);

@each $color, $value in $buttons {
    @if ($color =='bright') {
        .btn-#{$color} {
            background-color: $value;
            border-radius: $unit;
            height: 3rem;
            line-height: 3rem;
            width: 100%;
            color: $black;
            border: 1px solid darken($value, 6%);

            &:hover {
                background-color: lighten($value, 6%);
            }
        }

        .btn-gradient-#{$color} {
            background: linear-gradient(45deg, darken($value, 6%), lighten($value, 12%));
            border-radius: $unit;
            height: 3rem;
            line-height: 3rem;
            width: 100%;
            color: $black;
            border: 1px solid darken($value, 6%);

            &:hover {
                background: linear-gradient(45deg, darken($value, 12%), lighten($value, 18%));
            }
        }
    }

    @else {
        .btn-#{$color} {
            background-color: $value;
            border-radius: $unit;
            height: 3rem;
            line-height: 3rem;
            width: 100%;
            color: $white;
            border: 1px solid darken($value, 6%);

            &:hover {
                background-color: lighten($value, 6%);
            }
        }

        .btn-gradient-#{$color} {
            background: linear-gradient(45deg, darken($value, 6%), lighten($value, 12%));
            border-radius: $unit;
            height: 3rem;
            line-height: 3rem;
            width: 100%;
            color: $white;
            border: 1px solid darken($value, 6%);

            &:hover {
                background: linear-gradient(45deg, darken($value, 12%), lighten($value, 18%));
            }
        }
    }
}

button {
    cursor: pointer;
}