@use "variables";
@use "sass:color";

 // 颜色
@each $color, $value in variables.$colors {
    .#{$color} {
        color: $value;
    }

    // 背景色
    .bc-#{$color} {
        background-color: $value;
    }

    // 渐变背景色
    .bc-gradient-#{$color} {
        background: linear-gradient(45deg, color.adjust($value, $lightness: -6%), color.adjust($value,  $lightness: 12%));
    }
}