@use "main";
@use "grid";
@use "color";
@use "borders";
@use "layout";
@use "spacing";
@use "shadows";
@use "button";
@use "table";


// 文字对齐
.tc {
    text-align: center;
}

.tl {
    text-align: left;
}

.tr {
    text-align: right;
}


// 文字粗细
.fw-b {
    font-weight: bold;
}

.fw-n {
    font-weight: normal;
}

.fw-l {
    font-weight: lighter;
}

@for $i from 1 through 9 {
    .fw-#{$i} {
        font-weight: $i * 100;
    }
}