@import "main";
@import "grid";
@import "color";
@import "borders";
@import "layout";
@import "spacing";
@import "shadows";
@import "button";

.tc {
    text-align: center;
}

.tl {
    text-align: left;
}

.tr {
    text-align: right;
}

.fw-b {
    font-weight: bold;
}

.fw-n {
    font-weight: normal;
}

.fw-l {
    font-weight: lighter;
}

@for $i from 1 through 9 {
    .fw-#{$i} {
        font-weight: $i * 100;
    }
}