.block,
.block-fluid,
.block-xxl,
.block-xl,
.block-lg,
.block-md,
.block-sm {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {

    .block-sm,
    .block {
        max-width: 540px;
    }
}

@media (min-width: 768px) {

    .block-md,
    .block-sm,
    .block {
        max-width: 720px;
    }
}

@media (min-width: 992px) {

    .block-lg,
    .block-md,
    .block-sm,
    .block {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {

    .block-xl,
    .block-lg,
    .block-md,
    .block-sm,
    .block {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {

    .block-xxl,
    .block-xl,
    .block-lg,
    .block-md,
    .block-sm,
    .block {
        max-width: 1320px;
    }
}