/*
 * @Author: 故乡情 s@epnz.com
 * @Date: 2022-06-16 13:09:55
 * @LastEditTime: 2025-10-16 04:33:28
 * @LastEditors: 故乡情 s@epnz.com
 * @Description: Block UI
 * @FilePath: \ui\src\scss\_layout.scss
 */
.block-full {
    width: 100%;
    box-sizing: border-box;
}

.block, .block-xxl {
    max-width: 1320px;
    margin: 0 auto;
}

.block-xl {
    width: 1140px;
    margin: 0 auto;
}

.block-lg {
    width: 960px;
    margin: 0 auto;
}

.block-md {
    width: 720px;
    margin: 0 auto;
}

.block-sm {
    width: 540px;
    margin: 0 auto;
}