@use "variables";
@use "sass:color";

body {
    margin: 0;
    font-family: Verdana, 'Microsoft YaHei', Geneva, Tahoma, sans-serif;
    color: variables.$dark;
}

a {
    color: variables.$default;
    text-decoration: none;
}

a:hover {
    color: color.adjust(variables.$default, $lightness: -15%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}