body {
    margin: 0;
    font-family: Verdana, 'Microsoft YaHei', Geneva, Tahoma, sans-serif;
    color: $dark;
}

a {
    color: $default;
    text-decoration: none;
}

a:hover {
    color: darken($default, 15%);
}
