@use "variables";

$unit: variables.$unit;
$black: variables.$black;

// 阴影
@for $i from 1 through 5 {
    .ts-#{$i} {
        text-shadow: 0 0 $unit * $i * 0.5 rgba($black, 0.5);
    }

    .bs-#{$i} {
        box-shadow: 0 0 $unit * $i * 0.5 rgba($black, 0.5);
    }
}