@use "sass:color";

$black: #000 !default;
$blue: #4073ff !default;
$default: #7d01f8 !default;
$green: #04be02 !default;
$marrs: #008080 !default;
$orange: #ff6600 !default;
$pink: #d63384 !default;
$red: #ff3300 !default;
$white: #ffffff !default;
$yellow: #ffcc00 !default;
$success: $green;
$danger: $red;
$info: $blue;
$warning: $yellow;

$dark: color.adjust(color.adjust($default, $saturation: -95%), $lightness: -30%);
$gray: color.adjust(color.adjust($default, $saturation: -95%), $lightness: 20%);
$bright: color.adjust(color.adjust($default, $saturation: -95%), $lightness: 40%);

$unit: 5px;

$colors: (
    "black": $black,
    "danger": $red,
    "default": $default,
    "success": $green,
    "warning": $yellow,
    "info": $blue,
    "dark": $dark,
    "white": $white,
    "blue": $blue,
    "green": $green,
    "marrs": $marrs,
    "orange": $orange,
    "pink": $pink,
    "red": $red,
    "yellow": $yellow,
    "gray": $gray,
    "bright": $bright ) !default;