/*
 * @Author: 故乡情 s@epnz.com
 * @Date: 2022-06-14 13:00:08
 * @LastEditTime: 2025-11-13 00:18:58
 * @LastEditors: 故乡情 s@epnz.com
 * @Description: Block UI
 * @FilePath: \ui\src\scss\block.scss
 */
 
@use "variables";
@use "develop";

:root {
    --color-black: #{variables.$black};
    --color-success: #{variables.$success};
    --color-danger: #{variables.$danger};
    --color-info: #{variables.$info};
    --color-warning: #{variables.$warning};
    --color-blue: #{variables.$blue};
    --color-default: #{variables.$default};
    --color-green: #{variables.$green};
    --color-marrs: #{variables.$marrs};
    --color-orange: #{variables.$orange};
    --color-pink: #{variables.$pink};
    --color-red: #{variables.$red};
    --color-white: #{variables.$white};
    --color-yellow: #{variables.$yellow};
    --color-dark: #{variables.$dark};
    --color-gray: #{variables.$gray};
    --color-bright: #{variables.$bright};

    --unit: #{variables.$unit};
}