@import "variables";
@import "develop";

:root {
    --color-black: #{$black};
    --color-success: #{$success};
    --color-danger: #{$danger};
    --color-info: #{$info};
    --color-warning: #{$warning};
    --color-blue: #{$blue};
    --color-default: #{$default};
    --color-green: #{$green};
    --color-marrs: #{$marrs};
    --color-orange: #{$orange};
    --color-pink: #{$pink};
    --color-red: #{$red};
    --color-white: #{$white};
    --color-yellow: #{$yellow};
    --color-dark: #{$dark};
    --color-gray: #{$gray};
    --color-bright: #{$bright};

    --unit: #{$unit};
}